.hero {
	@include clearfix;
}

.hero__content {
	float: left;
	width: 60%;
}

.hero__img {
	position: relative;
	float: right;
	width: 40%;
	height: 400px;
	overflow: hidden;

	img {
		@include center;
		min-width: 100%;
		min-height: 100%;
	}
}

.hero__sale {
	width: 300px;
	height: 125px;
	text-transform: uppercase;
	text-align: center;
	font-size: 26px;
	line-height: 38px;
	color: #fff;
	background: url("../img/sale.svg") center no-repeat;
	background-size: 125%;

	span {
		display: block;
		text-decoration: line-through;
		color: $gray;
	}
}
