.options__list {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.options__item {
	width: 22%;
	overflow: hidden;
}

.options__img {
	position: relative;
	width: 100%;
	height: 240px;
	overflow: hidden;

	img {
		@include center;
	}
}

.options__name {
	text-align: center;
	text-transform: uppercase;
	line-height: 32px;
	color: #000;
}

.options__pdf {
	position: relative;
	display: block;
	margin-bottom: 30px;
	padding: 30px 110px;
	font-size: 18px;
	text-transform: uppercase;
	color: #000;

	&:before {
		content: "";
		position: absolute;
		top: -10px;
		left: 0;
		width: 96px;
		height: 96px;
		background: url("../img/pdf.svg") center no-repeat;
		background-size: contain;
	}
}
