// base style
*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	font-size: 10px;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100%;
	height: 100%;
	min-height: 100%;
  color: $color_body;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

dd, dl, dt {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: $color_link;
	transition: all 0.5s ease;

	&:hover,
	&:active,
	&:focus {
		color: $color_link_hover;
	}
}

.page-wrapper {
	position: relative;
	min-height: 100%;
	height: auto !important;
	overflow: hidden;
	font: normal 1.8rem "Tahoma", "Arial", sans-serif;
	color: #3c3c3b;
}

.container {
	@include container;
}

.title {
	margin: 40px 0;
	padding: 0;
	text-align: center;
	font-size: 30px;
	line-height: 44px;
}

.subtitle {
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 32px;
	color: #000000;
}

.underline {
	text-decoration: underline;
	font-size: 24px;
	line-height: 25px;
}

.list {
	&--minus {
		list-style: none;

		> li {
			position: relative;

			&:before {
				content: "-";
				position: absolute;
				left: -10px;
			}
		}
	}
	&--none {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

// back to top
.back-top {
	z-index: 1000;
	position: fixed;
	bottom: 20px;
	right: 20px;

	a {
		display: block;
		width: 40px;
		height: 40px;
		background: url("../img/top.png") center no-repeat;
		background-size: contain;
		text-align: center;
		text-decoration: none;
		text-indent: -9999px;
		opacity: 0.3;
		transition: all 0.5s ease;

		&:hover,
		&:active,
		&:focus {
			outline: none;
			cursor: pointer;
			opacity: 0.6;
		}
	}
}
